* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00153C;
    color: white;
    min-height: 100vh;
}

.contactlist-header {
    margin-top: 20px;

}



.add-container {
    display: flex;
    justify-content: center;
}